@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <a href="/Party/Create">Create a new leaderboard</a>
</div>

<table>
@foreach (var party in @Model)
{
    <tr>
        <td>@party.Name</td>
    </tr> 
}
</table>
