@{
    ViewBag.Title = "Rules";
}

<h2>A. Point Collection & Distribution</h2>
<ul>
    <li>Clayton is the Chairman & approves all final point distribution</li>
    <li>Each player can make recommendations for point value distribution for either themselves or another player, 
        but only the chairman can make the final appropriation of point value
    </li>
</ul>

<h2>B. Making the Cut</h2>
<ul>
    <li>The "cut line" is defined as the score that represents the dividing point between members who continue playing and those who are cut from the field, 
    consequently relinquishing all point totals and their chance at winning the MVP award
    </li>
    <li>The "cut line" may be executed in the time between the marriage ceremony and the wedding reception</li>
    <li>The Chairman can choose to NOT execute the "cut line", and most likely will do just that, but the choice still exists</li>
</ul>

<h2>C. Final Decision</h2>
<ul>
    <li>Final results will be delivered the morning following the wedding</li>
</ul>


